{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Yapıtaşı Logo Conversion</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-colorpicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.Jcrop.min.css' %}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" media="all"
          rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

        #canvas {
            display: inline-block;
            justify-content: center;
            padding: 5px;
            border-style: groove;
            border-width: 1px;

            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANklEQVQoU2NkIAIwEqHGl5AiXwYGhs2EFIEtwqUIbALMKdgUoSjAZxKKf5BNwjAB3TqcCkAKAackBVe6wbrXAAAAAElFTkSuQmCC);
        }

    </style>
</head>
<body>
<div class="container-fluid">


    <div class="form-group">
        <li class="dropdown list-unstyled">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-eye-open"></i> </a>
            <ul class="dropdown-menu" id="ThemeList">
            </ul>
        </li>
    </div>
</div>


<div class="container center">

    <div class="page-header">
        <h1>Yapıtaşı Logo Maker</h1>

    </div>
    <form id="form" class="form-horizontal" method="POST" enctype="multipart/form-data">
        <div class="row">

            <div class="col-xs-6 text-center">


                <fieldset>


                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-5 control-label" for="height">Height</label>
                        <div class="col-md-5">
                            <input id="height" name="height" type="text" value="60" class="form-control input-md"
                                   required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-5 control-label" for="width">Width</label>
                        <div class="col-md-5">
                            <input id="width" name="width" type="text" value="200" class="form-control input-md"
                                   required="">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 control-label" for="prependedcheckbox">Make Background
                            Transparent</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                  <span class="input-group-addon">
                                      <input type="checkbox" id="transparency" name="transparency">
                                  </span>
                                <input class="form-control" type="text" placeholder="Yes" value="">
                            </div>
                        </div>
                    </div>
                    <div class="tp-color form-group">
                        <label class="col-md-5 control-label" for="width">Change Background Color</label>
                        <div class="col-md-5">
                            <div id="cp3" class="input-group colorpicker-component">
                                <input name="color" type="text" value="#FFFFFF" class="form-control"/>
                                <span class="input-group-addon"><i></i></span>
                            </div>

                        </div>
                    </div>


                </fieldset>


                {% csrf_token %}

            </div>


            <div class="col-xs-6">
                <div class="form-group">

                      <div id="views"></div>
                        <div id="pre_canvas"></div>
                    <div id="buttons" class="hidden">
                                          <button class="btn" id="cropbutton" type="button"><span class="glyphicon glyphicon-resize-small"></span>Crop</button>
  <button class="btn" id="rotatebutton" type="button"><span class="glyphicon glyphicon-repeat"></span> Rotate</button>
  <button class="btn" id="hflipbutton" type="button"><span class="glyphicon glyphicon-arrow-left"></span>H-flip</button>
  <button class="btn" id="vflipbutton" type="button"><span class="glyphicon glyphicon-arrow-down"></span>V-flip</button>
  <br>
                        </div>
                    <span class="btn btn-default btn-file">

                    <input type="file" id="file" name="file" class="file" accept="image/*"></span>
                    <p class="help-block"></p>

                </div>
                  <div class="progress hidden">
    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
    </div>
  </div>
                <div class="canvas row hidden">
                    <a href="" download id="download"><p class="text-success bold">Click to
                        Download</p></a>

                    <img id="canvas">
                    </div>
            </div>

        </div>
    </form>
</div>


<!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/sortable.min.js"
        type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/purify.min.js"
        type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>
<script src="{% static "js/bootstrap-colorpicker.min.js" %}"></script>
<script src="{% static 'js/jquery.bootstrapThemeSwitcher.js' %}"></script>
<script src="{% static 'js/jquery.Jcrop.min.js' %}"></script>

<script src="{% static 'js/resize.js' %}"></script>
<script>
    $(function () {
        $().bootstrapThemeSwitcher('loadThemeFromCookie');

        // Setup the theme selectors
        $('#ThemeList').bootstrapThemeSwitcher();
    });
        // Change the theme
        //$().bootstrapThemeSwitcher('switchTheme', 'default', '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css');

        // Load the previously selected theme from the cookies
        //$().bootstrapThemeSwitcher('loadThemeFromCookie');


</script>
<script>

    $(".file").fileinput({
                        showRemove: false,
                        showPreview: false,
                        showZoom: true,
                        showDrag: false,});
    $(function () {
        $('#cp3').colorpicker({
            color: '#FFFFFF',
        });
    });


    $('#transparency').bind('click', function () {
        $('.tp-color').toggleClass('hidden', 'visible')
    });

</script>

</body>
</html>
